<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jh352160.new_demo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".util.CommonApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".test1.Test1"/>
        <activity android:name=".test2.Test2"/>
        <activity android:name=".test3.Test3"/>
        <activity android:name=".test4.Test4"/>
        <activity android:name=".test5.Test5"/>
        <activity android:name=".test6.Test6"/>
        <activity android:name=".test7.Test7"/>
        <activity android:name=".test8.Test8"/>
        <activity android:name=".test8.Test8_2"/>
        <activity android:name=".test9.Test9"/>
        <activity android:name=".test9.Test9_2"/>
        <activity android:name=".test9.Test9_3"/>
        <activity android:name=".test10.Test10"/>
        <activity android:name=".test11.Test11"/>
        <activity android:name=".test10.network.Test10_2"/>
        <activity android:name=".test10.massager.MessengerActivity"/>
        <activity android:name=".test2.ListFirst"/>
        <activity android:name=".test2.ListSeconde"/>
        <activity android:name=".test2.ListThird"/>

        <service android:name=".test10.massager.MessengerService"/>

    </application>

</manifest>